<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.scm.dao.MainProductInfoDao"> 
  <!-- 창고 조회 -->
  <select id="listMainProduct" resultType="kr.happyjob.study.scm.model.MainProductInfoModel"> 
SELECT DISTINCT PD.product_cd as product_cd,
       PD.prod_nm as prod_nm, 
       LC.l_ct_nm as l_ct_nm,
       SP.supply_nm as supply_nm,
       WH.warehouse_nm as warehouse_nm,
       PD.purchase_price as purchase_price,
       PD.price as price
FROM tb_scm_product PD
LEFT JOIN tb_scm_m_category MC ON MC.m_ct_cd = PD.m_ct_cd
LEFT JOIN tb_scm_l_category LC ON LC.l_ct_cd = MC.l_ct_cd
LEFT JOIN tb_scm_supply SP ON SP.supply_cd = PD.supply_cd
LEFT JOIN tb_scm_warehouse WH ON WH.warehouse_cd = PD.warehouse_cd
    <where>
      <if test="(sname != null) and (!sname.equals(''))">
      <choose>
        <when test= "(oname eq 'prod_nm'.toString())">
            AND PD.prod_nm LIKE concat('%', #{sname}, '%')
        </when>
        <when test= "(oname eq 'l_ct_nm'.toString())">
            AND LC.l_ct_nm LIKE concat('%', #{sname}, '%')
        </when>
        <when test= "(oname eq 'supply_nm'.toString())">
            AND SP.supply_nm LIKE concat('%', #{sname}, '%')
        </when>  
      </choose>
      </if> 
    </where>
     LIMIT #{pageIndex}, #{pageSize}
  </select>
  <!-- 창고 카운트 -->
  <select id="totalCntMainProduct" resultType="int"> 
    SELECT DISTINCT COUNT(1)
FROM tb_scm_product PD
LEFT JOIN tb_scm_m_category MC ON MC.m_ct_cd = PD.m_ct_cd
LEFT JOIN tb_scm_l_category LC ON LC.l_ct_cd = MC.l_ct_cd
LEFT JOIN tb_scm_supply SP ON SP.supply_cd = PD.supply_cd
LEFT JOIN tb_scm_warehouse WH ON WH.warehouse_cd = PD.warehouse_cd
<where>
      <if test="(sname != null) and (!sname.equals(''))">
      <choose>
        <when test= "(oname eq 'prod_nm'.toString())">
            AND PD.prod_nm LIKE concat('%', #{sname}, '%')
        </when>
        <when test= "(oname eq 'l_ct_nm'.toString())">
            AND LC.l_ct_nm LIKE concat('%', #{sname}, '%')
        </when>
        <when test= "(oname eq 'supply_nm'.toString())">
            AND SP.supply_nm LIKE concat('%', #{sname}, '%')
        </when>  
      </choose>
      </if> 
    </where>
  </select>
  
  <!-- 제품정보 상세조회 -->
    <select id="selectMainProduct" resultType="kr.happyjob.study.scm.model.MainProductInfoModel">
      SELECT PD.product_cd as product_cd,
       PD.prod_nm as prod_nm, 
       LC.l_ct_nm as l_ct_nm,
       SP.supply_nm as supply_nm,
       PD.purchase_price as purchase_price,
       PD.price as price,
       WH.warehouse_nm as warehouse_nm,
       PD.stock as stock,
       PD.detail as detail,
       FL.file_local_path
FROM tb_scm_product PD
LEFT JOIN tb_scm_m_category MC ON MC.m_ct_cd = PD.m_ct_cd
LEFT JOIN tb_scm_l_category LC ON LC.l_ct_cd = MC.l_ct_cd
LEFT JOIN tb_scm_supply SP ON SP.supply_cd = PD.supply_cd
LEFT JOIN tb_scm_warehouse WH ON WH.warehouse_cd = PD.warehouse_cd
LEFT JOIN tb_file FL ON PD.file_no = FL.file_no
WHERE  PD.product_cd = #{product_cd}
    </select>
  </mapper>