<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.scm.dao.ProductInfoDao">

  <!-- 제품 목록 조회 -->
  <select id="selectProductInfo" resultType = "kr.happyjob.study.scm.model.ProductInfoModel">
    SELECT p.product_cd as product_cd
         , p.prod_nm as prod_nm
         , m.l_ct_nm as l_ct_nm
         , m.m_ct_nm as m_ct_nm
         , s.supply_nm as supply_nm
         , w.warehouse_nm as warehouse_nm
         , p.purchase_price as purchase_price
         , p.price as price
      FROM tb_scm_product p
      left outer join (
                        SELECT l.l_ct_nm, mc.m_ct_nm, mc.m_ct_cd
                        FROM tb_scm_m_category mc 
                        LEFT OUTER JOIN tb_scm_l_category l on l.l_ct_cd = mc.l_ct_cd
                       ) m on p.m_ct_cd = m.m_ct_cd     
      left outer join tb_scm_supply s on p.supply_cd = s.supply_cd
      left outer join tb_scm_warehouse w on p.warehouse_cd = w.warehouse_cd
     
      LIMIT #{pageIndex}, #{pageSize}
  </select>
  
  <select id="countProductInfo"  resultType="int">
    SELECT COUNT(1) AS tot_cnt FROM tb_scm_product p
      left outer join (
                        SELECT l.l_ct_nm, mc.m_ct_nm, mc.m_ct_cd
                        FROM tb_scm_m_category mc 
                        LEFT OUTER JOIN tb_scm_l_category l on l.l_ct_cd = mc.l_ct_cd
                       ) m on p.m_ct_cd = m.m_ct_cd     
      left outer join tb_scm_supply s on p.supply_cd = s.supply_cd
      left outer join tb_scm_warehouse w on p.warehouse_cd = w.warehouse_cd
  </select>

</mapper>