<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.scm.dao.SupplierInfoDao">

  <!-- 공급처 목록 조회 -->
  <select id="getSupplierInfo" resultType = "kr.happyjob.study.scm.model.SupplierInfoModel">
      SELECT SP.supply_nm as supply_nm
           , SP.supply_mng_nm as supply_mng_nm
           , SP.tel as tel
           , SP.email as email
           , WH.warehouse_nm as warehouse_nm
      FROM tb_scm_supply SP
      LEFT OUTER JOIN tb_scm_warehouse WH
      ON WH.warehouse_cd = SP.warehouse_cd
     
      LIMIT #{pageIndex}, #{pageSize}
  </select>
  <!-- 공급처 목록 갯수 조회 -->
  <select id="countSupplierInfo"  resultType="int">
    SELECT COUNT(1) AS tot_cnt 
      FROM tb_scm_supply SP
      LEFT OUTER JOIN tb_scm_warehouse WH
      ON WH.warehouse_cd = SP.warehouse_cd 
  </select>
  
  <!-- 제품 목록 조회 -->
  <select id="supplierProList" resultType = "kr.happyjob.study.scm.model.SupplierInfoModel" >
    SELECT PD.product_cd
         , PD.prod_nm
         , LC.l_ct_nm
         , PD.stock
         , PD.price
      FROM tb_scm_product PD
      LEFT OUTER JOIN tb_scm_supply SP ON SP.supply_cd = PD.supply_cd
      LEFT OUTER JOIN tb_scm_m_category MC ON MC.m_ct_cd = PD.m_ct_cd
      LEFT OUTER JOIN tb_scm_l_category LC ON LC.l_ct_cd = MC.l_ct_cd
     WHERE SP.supply_nm = #(supply_nm) 
     
     LIMIT #{pageIndex}, #{pageSize}
  </select>
  <!-- 제품 목록 갯수 카운트 -->
  <select id="totalCntProduct" resultType="int">
    SELECT (1) as tot_proCnt
      FROM tb_scm_product PD
      LEFT OUTER JOIN tb_scm_supply SP ON SP.supply_cd = PD.supply_cd
      LEFT OUTER JOIN tb_scm_m_category MC ON MC.m_ct_cd = PD.m_ct_cd
      LEFT OUTER JOIN tb_scm_l_category LC ON LC.l_ct_cd = MC.l_ct_cd
     WHERE SP.supply_nm = #(supply_nm)
     
     LIMIT #{pageIndex}, #{pageSize} 
</select>
</mapper>