<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.pcs.dao.PcsDao">
                   
	<!-- 그룹코드 목록 조회 -->
	<select id="pcsOrderingOrder" resultType="kr.happyjob.study.pcs.model.PcsModel">
		/*kr.kosmo.jobkorea.pcs.dao.PcsDao*/
      SELECT 
             PL.purch_list_no
         ,   SP.supply_nm
         ,   PD.prod_nm
         ,   MC.l_ct_cd
         ,   PL.purch_qty
         ,   PD.purchase_price
         ,   PL.desired_delivery_date
         ,   WH.warehouse_nm
         ,   PL.purch_mng_id
      FROM tb_scm_purchase_list as PL
          LEFT JOIN tb_order as OD
        ON PL.order_cd = OD.order_cd
        LEFT JOIN tb_scm_warehouse as WH
        ON OD.warehouse_cd = WH.warehouse_cd  
        LEFT JOIN tb_scm_supply as SP
        ON PL.supply_cd = SP.supply_cd
        LEFT JOIN tb_scm_product as PD
        ON PL.supply_cd = PD.supply_cd
        LEFT JOIN tb_scm_m_category as MC
        ON PD.m_ct_cd = MC.m_ct_cd
      ORDER BY purch_list_no DESC
	</select>
	
	<!-- 그룹코드 목록 총 갯수 조회 -->
	<select id="countPcsOrderingOrder" resultType="int">
		/*kr.kosmo.jobkorea.system.dao.ComnCodDao.countListComnGrpCod*/
		SELECT COUNT(*) AS tot_cnt 
      FROM tb_scm_purchase_list as PL
          LEFT JOIN tb_order as OD
        ON PL.order_cd = OD.order_cd
        LEFT JOIN tb_scm_warehouse as WH
        ON OD.warehouse_cd = WH.warehouse_cd
	</select>
	
	 <!-- 그룹코드 목록 총 갯수 조회 -->
  <select id="selectPurchBtn" resultType="kr.happyjob.study.pcs.model.PcsModel">
    /*kr.kosmo.jobkorea.system.dao.ComnCodDao.countListComnGrpCod*/
    SELECT COUNT(*) AS tot_cnt 
      FROM tb_scm_purchase_list as PL
          LEFT JOIN tb_order as OD
        ON PL.order_cd = OD.order_cd
        LEFT JOIN tb_scm_warehouse as WH
        ON OD.warehouse_cd = WH.warehouse_cd
  </select>
</mapper>