<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.pcs.dao.RefundDao">

  <!-- 반품서 목록 조회(기본). 기능구현용 -->
  <select id="selectRefundListTest" resultType="kr.happyjob.study.pcs.model.RefundDetailModel">
     SELECT 
           pur.purch_list_no
         , pur.order_cd
         , DATE_FORMAT(pur.return_date, '%Y-%m-%d') as return_date
         , pur.return_qty
         , sup.supply_nm
         , sup.supply_cd
         , pro.prod_nm
         , pro.m_ct_cd
      FROM 
           tb_scm_purchase_list pur
           LEFT JOIN tb_order ord
           ON pur.order_cd  = ord.order_cd
           LEFT JOIN tb_scm_product pro
           ON ord.product_cd = pro.product_cd
           LEFT JOIN tb_scm_supply sup
           ON pro.supply_cd = sup.supply_cd
           <if test="keyword">
             
           </if>
  ORDER BY purch_list_no DESC
     LIMIT #{pageIndex}, #{pageSize}    
  
  </select>
  <!-- 반품서 목록 조회(기본). 원본  -->
  <select id="selectRefundList" resultType="kr.happyjob.study.pcs.model.RefundDetailModel">
    
    SELECT 
           pur.purch_list_no
         , pur.order_cd
         , DATE_FORMAT(pur.return_date, '%Y-%m-%d') as return_date
         , pur.return_qty
         , sup.supply_nm
         , sup.supply_cd
         , pro.prod_nm
         , pro.m_ct_cd
      FROM 
           tb_scm_purchase_list pur
           LEFT JOIN tb_order ord
           ON pur.order_cd  = ord.order_cd
           LEFT JOIN tb_scm_product pro
           ON ord.product_cd = pro.product_cd
           LEFT JOIN tb_scm_supply sup
           ON pro.supply_cd = sup.supply_cd
  ORDER BY purch_list_no DESC
     LIMIT #{pageIndex}, #{pageSize}
  
  </select>
  
  <!-- 반품서 목록 총 개수 조회 -->
  <select id="countRefundList" resultType="int">
  
    SELECT COUNT(*)
      FROM tb_scm_purchase_list
     WHERE return_mng_id IS NOT NULL
     
  </select>
  
  
  <!-- 반품서 단건 조회  -->
  <select id="selectOneRefund" resultType="kr.happyjob.study.pcs.model.RefundDetailModel" parameterType="String">
    
    SELECT 
           pur.purch_list_no
         , pur.order_cd
         , DATE_FORMAT(pur.purch_date, '%Y-%m-%d') as purch_date
         , DATE_FORMAT(pur.desired_delivery_date, '%Y-%m-%d') as desired_delivery_date  
         , DATE_FORMAT(pur.return_date, '%Y-%m-%d') as return_date
         , pur.return_mng_id
         , pur.return_price
         , pur.return_qty
         , sup.supply_nm
         , sup.supply_cd
         , pro.prod_nm
         , pro.m_ct_cd
         , pro.product_cd
         , war.warehouse_cd
         , war.warehouse_nm
         , war.addr
         
      FROM tb_scm_purchase_list pur
           LEFT JOIN tb_order ord
           ON pur.order_cd = ord.order_cd
           LEFT JOIN tb_scm_product pro
           ON ord.product_cd = pro.product_cd 
           LEFT JOIN tb_scm_supply sup
           ON pro.supply_cd = sup.supply_cd
           LEFT JOIN tb_scm_warehouse war
           ON sup.warehouse_cd = war.warehouse_cd
    WHERE pur.purch_list_no = #{purch_list_no}
       
  </select>
  
  <!-- 반품 완료 처리 -->
  <update id="insertReturnDate" parameterType="int">
   
    UPDATE tb_scm_purchase_list
       SET return_date = NOW()
     WHERE purch_list_no = #{purch_list_no} AND return_date IS NULL
  
  </update>
   
</mapper>