<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.system.dao.NoticeDao">
  
  <!-- 공지사항 목록 조회 -->
  <select id="selectNoticeList" resultType="kr.happyjob.study.system.model.NoticeModel">
    
    SELECT 
           notice_id,
           title,
           content,
           DATE_FORMAT(date, '%Y-%m-%d') as date,
           view_cnt,
           auth
      FROM tb_scm_notice
  ORDER BY notice_id DESC
     LIMIT #{pageIndex}, #{pageSize}  
               
  </select>
  
  <!-- 공지사항 목록 총 개수 조회 -->
  <select id="countNoticeList" resultType="int">
  
    SELECT COUNT(notice_id)
      FROM tb_scm_notice
  
  </select>
  
  <!-- 공지사항 작성(일단, 파일 경로 제외하고 작성) -->
  <insert id="insertNotice" parameterType="java.util.Map">
    
    INSERT INTO 
                tb_scm_notice(title, content, date, view_cnt, auth)
         VALUES 
                (#{title}, #{content}, NOW(),0, #{auth})
  
  </insert>  
 
  

</mapper>

